
@{
    ViewData["Title"] = "Result";
}
@model ExamDotNet.Models.LinkModel[]
<h1>Result</h1>

<table>
    <tr>
        <td>Url</td><td>Test</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Url</td>
    <td>@item.Text.Substring(0,@item.Text.Length/10)</td>
</tr>
    }
</table>